<!DOCTYPE html>
<html>
<head>
    <title>Welcome App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <div class="logo">Anand DevOps 🚀</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>

<section class="hero">
    <h1 id="welcomeText">Welcome to My Node App</h1>
    <p id="greetingMessage"></p>
    <a href="/login" class="btn">Get Started</a>
</section>

<script src="/script.js"></script>
</body>
</html>
